@mixin flexCenter {

  display: flex;

  justify-content: center;

  align-items: center;

}

@mixin card {

  background: $white;

  border-radius: $radius;

  box-shadow: $shadow;

}

@mixin transition {

  transition: $transition;

}